@{
    ViewData["Title"] = "Home Page";
    
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
      .fa-solid{
          font-size:500px;
          text-align:center;
      }

  </style>
<h1>Haydi Hedefine Ulaşmak İçin Triggerlan</h1>
<p><i class="fa-solid fa-comments"></i></p>

