@{
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<table>
    <thead>
        <tr>
            <th>Gönderiler</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
<button onclick="zamanla();">Zamanla</button>
<button onclick="iptal();">İptal</button>
<script>
  var zaman;
  function zamanla() {
    zaman = setTimeout(function() {
      alert("5 sn geçti");
    }, 5000);
  }

  function iptal() {
    clearTimeout(zaman);
  }
</script>