@{
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .timer{
        padding:20px;
        display:inline-block;
        border:2px black solid;
        border-radius:20px;
    }
        .timer button {
            border: 2px black solid;
            border-radius: 20px;
        }
            .timer button p {
            color:burlywood;
            }

</style>

<div>
    <label>
        <input type="text" name="daily" value="" />
    </label>
    <button>
        Gönder
    </button>
</div>
<br />
<br />
<div class="timer">
    <p>Okuma hızını ölçmek istiyorsan butona bas. </p>

<button onclick="zamanla();">Zamanla</button>
<button onclick="iptal();">İptal</button>
</div>
<script>
    var zaman;
    function zamanla() {
        zaman = setTimeout(function () {
            alert("10 sn geçti");
        }, 10000);
    }

    function iptal() {
        clearTimeout(zaman);
    }
</script>