<html>
<head>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/admin/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/cryptocurrency-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/admin/assets/css/helper.css">
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link id="cus-style" rel="stylesheet" href="~/admin/assets/css/style-primary.css">

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="~/jquery/jquery.js"></script>
        <link href="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js" rel="stylesheet" />*@
    @*<script src="~/admin/assets/js/plugins/datatables/datatables.min.js"></script>*@
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
          integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!-- ✅ load jQuery ✅ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <!-- ✅ load DataTables ✅ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
            integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
                var ApiUrl = '@Startup.Settings.ApiUrl'

    </script>
    <style>

        .body {
            background-color: black;
        }

        .side-header-inner {
            background-color: black;
            height: 100%;
        }

        .News {
            padding: 150px;
            background-color: black;
            border-radius: 10px;
            position: absolute;
            top: 10px;
            right: 0px;
        }
    </style>
</head>
<body>
    <div class="row mainarea" style="height:100%">
        <div class="col-3 menuarea">
            <div class="side-header-inner custom-scroll">
                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                        <li>
                            <div class="border" id="userDetail"></div>
                        </li>
                        <li>
                            <a class="nav-link text-dark" href="/Admin/TriggerAdded">#Ana Sayfa</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" href="/Admin/User">#Kullanıcılar</a>
                        </li>

                        <li>
                            <a class="btn " href="javascript:logout()">#Çıkış</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>


        <div class="col-9 contentarea">
            @RenderBody()
        </div>
    </div>
    <script>
        function logout() {
            localStorage.removeItem("token");
            document.location.href = "/User/Login";
        }

    </script>
</body>
       
 </html>
