@{
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}
<style>
    .table{
        width:600px;
        height:200px;
        padding:5px;
        background-color:black;
    }
    th {
        color: #ffff;
    }
</style>
<div class="table">
<table id="dataArea" class="display" width="50%" data-page-length='25'>
    <thead>
        <tr>
            <th>İsim</th>
            <th>Soyİsim</th>
            <th>Email</th>
            <th></th>
        </tr> 
    </thead>
</table>
</div>
<script>
   
    function init() {
        var token = localStorage.getItem("token");
        fetch(ApiUrl + 'user/listusers', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
                'token': token
            }
        })
            .then(response => response.json())
            .then(data => {

                $('#dataArea').DataTable({
                    data: data.list,
                    columns: [
                        { data: 'firstName' },
                        { data: 'lastName' },
                        { data: 'email' },
                        
                       
                    ],
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });

    }
    $(document).ready(function () {
        init();
    })
</script>

