@model Guid;

@{
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}

<style>
    .login-register-form
    {
        position:center;
        border-radius:5px;
        padding:20px;
        border:2px solid #ff6a00;
    }
</style>
<script>

    var Id = '@Model';
    function save() {

            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            var birthDate = $("#birthDate").val();
            var schoolName = $("#schoolName").val();
            var schoolStudyName = $("#schoolStudyName").val();
            var schoolStartTime = $("#schoolStartTime").val();
            var schoolFinishTime = $("#schoolFinishTime").val();
            var abilities = $("#abilities").val();

            const data = { firstName: firstName, lastname: lastName, birthDate: birthDate, schoolName: schoolName, schoolStudyName: schoolStudyName, schoolStartTime: schoolStartTime,
                     schoolFinishTime: schoolFinishTime, abilities: abilities,id:Id };

        var token = localStorage.getItem("token");

        fetch(ApiUrl+'triggeradded/save', {
            method: 'POST', // or 'PUT
            headers: {
                'Content-Type': 'application/json',
                'token': token
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                if (data) alert("kayıt başarılı")
                document.location.href = "/Admin/TriggerAdded";

            })
            .catch((error) => {
                console.error('Error:', error);

            });
    }
    $(document).ready(function () {
        if (Id != "") {
            var token = localStorage.getItem("token");

            fetch(ApiUrl +'triggeradded/get?id=' + Id, {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                    'token': token
                }
                })

                .then(response => response.json())
                .then(data => {
                    if (data) {
                        $("#firstName").val(data.firstName);
                        $("#lastName").val(data.lastName);
                        $("#birthDate").val(data.birthDate);
                        $("#schoolName").val(data.schoolName);
                        $("#schoolStudyName").val(data.schoolStudyName);
                        $("#schoolStartTime").val(data. schoolStartTime);
                        $("#schoolFinishTime").val(data.schoolFinishTime);
                        $("#abilities").val(data.abilities);
                    }
                })
                .catch((error) => {
                //    console.error('Error:', error);
                });
        }
    })

</script>
<div class="login-register-form">
   
        <h4>Adınızı giriniz :</h4>
        <input class="form-control" type="text" id="firstName" >

        <h4>Soy Adınızı giriniz :</h4>
        <input class="form-control" type="text" id="lastName" >

        <h4>Doğum tarihini giriniz :</h4>
        <input class="form-control" type="date" id="birthDate" >

        <h4>Okul adını Giriniz :</h4>
        <input class="form-control" type="text" id="schoolName" >

        <h4>Okul bölümü giriniz :</h4>
        <input class="form-control" type="text" id="schoolStudyName" >

        <h4>Okul başlangıç tarihini giriniz :</h4>
        <input class="form-control" type="date" id="schoolStartTime" >
        
        <h4>Okul bitiş tarihini giriniz : </h4>
        <input class="form-control" type="date" id="schoolFinishTime" >

        <h4>Yeteneklerinizi giriniz :</h4>
        <input class="form-control" type="text" id="abilities" >
        <br />
        <button class="button button-android button-outline" onclick="javascript:save()">Kaydet</button>
</div>
